ENV=dev
REFRESH=false
NETWORK=main
BLOCKCHAIN=ETHEREUM
MONGOURI_PROD=
MONGOURI_DEV=
MONGODB_PROD=prod
MONGODB_DEV=dev

ALCHEMY_MUMBAI_API_KEY=
ALCHEMY_MUMBAI_URI=https://polygon-mumbai.g.alchemy.com
ALCHEMY_MUMBAI_WS=wss://polygon-mumbai.g.alchemy.com

ALCHEMY_POLYGON_API_KEY=
ALCHEMY_POLYGON_URI=https://polygon-mainnet.g.alchemy.com
ALCHEMY_POLYGON_WS=wss://polygon-mainnet.g.alchemy.com

ALCHEMY_GOERLI_API_KEY=
ALCHEMY_GOERLI_URI=https://eth-goerli.g.alchemy.com
ALCHEMY_GOERLI_WS=wss://eth-goerli.g.alchemy.com

ALCHEMY_ETHEREUM_API_KEY=
ALCHEMY_ETHEREUM_URI=https://eth-mainnet.g.alchemy.com
ALCHEMY_ETHEREUM_WS=wss://eth-mainnet.g.alchemy.com


UNSTOPPABLE_API_KEY=
UNSTOPPABLE_URI=https://resolve.unstoppabledomains.com


PUBLIC_ETHEREUM_URI=https://endpoints.omniatech.io/v1/eth/mainnet/public
PUBLIC_POLYGON_URI=https://polygon-rpc.com

LOG_FILE_NAME=fetcher.log

POLYGON_MAX_BLOCK=1024
ETHEREUM_MAX_BLOCK=1024

DOTBIT_API_URI=https://indexer-v1.did.id


CNS_API_URI=https://evm.confluxrpc.com
CNS_WSS_URI=wss://evm.confluxrpc.com/ws


HK_API_URI=https://openapi.platon.network/rpc
HK_WSS_URI=wss://openapi.platon.network/ws


MB_API_URI=https://moonbeam.blastapi.io/
MB_WSS_URI=wss://moonbeam.public.blastapi.io


NNS_API_URI=https://bsc.getblock.io/
